.header{
  position: relative;
  z-index: 100;
}

.logo{
  position: absolute;
}

.logo img {
  width: 150px;
}

.header ul {
  position: absolute;
  right: 0;
  display: flex;
  width: 55%;
  justify-content: space-around;
  color: #fff;
  font-weight: 600;
  top: 10px;
}

.header ul li{
  cursor: pointer;
}

.header ul li a{
  color: #fff;
}

.header ul li .active{
  color: #e2ca73;
}

.main {
  height: 600px;
}
